{
  "RegisterProjectsFunction": {
    "AWS_REGION": "us-east-1",
    "SECRET_NAME": "your-secret-name-here",
    "ENVIRONMENT": "local",
    "PRIVATE_API_KEY": "your-private-api-key"
  },
  "GetViewCountsFunction": {
    "AWS_REGION": "us-east-1",
    "SECRET_NAME": "your-secret-name-here",
    "ENVIRONMENT": "local",
    "PRIVATE_API_KEY": "your-private-api-key"
  },
  "IncrementViewCountFunction": {
    "AWS_REGION": "us-east-1",
    "SECRET_NAME": "your-secret-name-here",
    "ENVIRONMENT": "local",
    "PRIVATE_API_KEY": "your-private-api-key"
  }
}