{
  "addProjectFunction": {
    "AWS_REGION": "us-east-1",
    "SECRET_NAME": "your-secret-name-here"
  },
  "getViewCountsFunction": {
    "AWS_REGION": "us-east-1",
    "SECRET_NAME": "your-secret-name-here"
  },
  "incrementViewCountFunction": {
    "AWS_REGION": "us-east-1",
    "SECRET_NAME": "your-secret-name-here"
  }
}