{
  "RegisterProjectsFunction": {
    "AWS_REGION": "us-east-1",
    "SECRET_NAME": "your-secret-name-here",
    "ENVIRONMENT": "local",
    "ACCESS_TOKEN_SECRET_NAME": "your-access-token-secret-name"
  },
  "GetViewCountsFunction": {
    "AWS_REGION": "us-east-1",
    "SECRET_NAME": "your-secret-name-here"
  },
  "IncrementViewCountFunction": {
    "AWS_REGION": "us-east-1",
    "SECRET_NAME": "your-secret-name-here"
  }
}